.nn-light-orange {
  color: #ee7f00;
}

.nn-medium-orange {
  color: #ea650d;
}

.table > thead > tr > th {
  border-bottom: 3px solid #ea650d;
}

.main-container {
  margin-top: 20px;
  border: 2px solid #ea650d;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

h2,
h3 {
  color: #ea650d;
}
