.nn-light-orange {
  color: #a4ccea;
}

.nn-medium-orange {
  color: #7caad6;
}

.nn-dark-orange {
  color: #5389c2;
}

.table > thead > tr > th {
  border-bottom: 3px solid #5389c2;
}

.main-container {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #5389c2;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

h2,
h3 {
  color: #5389c2;
}

.dropzone {
  height: 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}
