.nn-light-orange {
  color: #7caad6;
}

.nn-medium-orange {
  color: #5389c2;
}

.table > thead > tr > th {
  border-bottom: 3px solid #5389c2;
}

.main-container {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #5389c2;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

h2,
h3 {
  color: #5389c2;
}
